<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isthere.spring.mapper.ShopMapper">

	<resultMap type="Shop" id="ShopResultMap">
		<result property="shop_id" column="shop_id"/>
		<result property="shop_name" column="shop_name" />
		<result property="shop_lat" column="shop_lat"/>
		<result property="shop_lng" column="shop_lng"/>
		<result property="shop_type" column="shop_type"/>
		<result property="shop_time" column="shop_time"/>
		<result property="shop_info" column="shop_info"/>
		<result property="shop_vendor" column="shop_vendor"/>
		<result property="shop_soldtop" column="shop_soldtop"/>
		<result property="distance" column="distance"/>
	</resultMap>
	<resultMap type="StockShop" id="StockShopResultMap">
		<result property="item_code" column="item_code"/>
		<result property="shop_id" column="shop_id"/>
		<result property="stock_stock" column="stock_stock"/>
		<result property="shop_name" column="shop_name" />
		<result property="shop_lat" column="shop_lat"/>
		<result property="shop_lng" column="shop_lng"/>
		<result property="shop_type" column="shop_type"/>
		<result property="shop_info" column="shop_info"/>
		<result property="shop_vendor" column="shop_vendor"/>
		<result property="distance" column="distance"/>
	</resultMap>
    <insert id="insertShop" parameterType="isthere.spring.vo.Shop">
   		INSERT INTO shop (shop_name, shop_lat, shop_lng, shop_type, shop_info, shop_vendor) 
   		VALUES (#{shop_name}, #{shop_lat}, #{shop_lng}, #{shop_type}, #{shop_info}, #{shop_vendor})
    </insert>
    
    <delete id="deleteShop" parameterType="java.lang.String">
    	delete from shop where shop_id=#{shop_id}
    </delete>
    
    <select id="selectShop" resultMap="ShopResultMap" parameterType="isthere.spring.vo.Shop">
       <![CDATA[ SELECT *, ( 6371 * acos( cos( radians(${shop_lat}) ) * cos( radians( shop_lat ) ) * cos( radians( shop_lng ) - 
        radians(${shop_lng}) ) + sin( radians(${shop_lat}) ) * sin( radians( shop_lat ) ) ) ) 
        AS distance FROM shop HAVING distance < ${distance} ORDER BY distance 	]]>
    </select>
    
    <select id="selectStockShop" parameterType="isthere.spring.vo.StockShop" resultMap="StockShopResultMap" >
       <![CDATA[ SELECT * FROM stock join 
       (SELECT *, ( 6371 * acos( cos( radians(${shop_lat}) ) * cos( radians( shop_lat ) ) * cos( radians( shop_lng ) - 
        radians(${shop_lng}) ) + sin( radians(${shop_lat}) ) * sin( radians( shop_lat ) ) ) ) 
        AS distance FROM shop HAVING distance < ${distance}) nearshop 
        ON (stock.shop_id=nearshop.shop_id) WHERE stock.item_code IN (select item_code from item where item_name='${item_code}') 
        AND stock.stock_stock > 0 ORDER BY distance 	]]>
    </select>
</mapper>
